/* Reset CSS */
 h1, h2, h3, p,ul,li{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}


*, *::before, *::after {
    box-sizing: inherit;
}
ul,ol{
    list-style: none;
}
section {
    padding: 120px 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
    
}
.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Global Styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    color: #434455;
}


/* Header Styles */
.header-container {
    border-bottom: 1px solid #e7e9fc;
}

.header-container .container {
    display: flex;
    align-items: center;
}


nav {
    flex-grow: 1;
}

.logo {
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #2e2f42;
        text-decoration: none;
}
.logo:hover,
.logo:focus {
    color: #4d5ae5;}

.logo-web {
   
    color: #4d5ae5;
}

 .header-nav {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        text-transform: capitalize;
        display: flex;
        gap: 40px;
        margin-right: auto;
        margin-left: 76px;       
 }
    .header-nav .link {  
        display: inline-block;
        text-decoration: none;
        color: #2e2f42;
        padding: 24px 0;
    }
 
    .header-nav .link:hover,
    .header-nav .link:focus {
        color: #404bbf;
        
    }
.address ul {
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            font-style: normal;
            display: flex;
            gap: 40px;
            margin-top: 0;
            margin-bottom: 0;
            
}
.address-link {
           font-size: 16px;
           line-height: 1.5;
           letter-spacing: 0.02em;
           text-decoration: none;
           color: #434455;
           display: inline-block;
}
    .address-link:hover,
    .address-link:focus {
        color: #404bbf;
    }
/* Hero Section Styles */
.hero-section {
    background-color: #2e2f42;
    padding: 188px 0;
}

.hero-container {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    text-align: center;
        }
.hero-title {
    
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        align-items: center;
        text-align: center;    
        color: #ffffff;
        max-width: 496px;
        margin-bottom: 48px;
}       
.button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4d5ae5;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    padding: 16px 32px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15); 
}
.button:hover,
.button:focus {
    background-color: #404BBF;
}
/* Features Section Styles */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.features  {
    display: flex;
    gap: 24px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    
}
.features-list {
    width: calc((100% - 72px) / 4);
}
.features-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42; 
    padding-bottom: 8px;
}
.features-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/* Team Section Styles */
.team-section {
    background-color: #f4f4fd;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.team-main {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;  
    color: #2e2f42;
    text-align: center;
    margin-bottom: 72px;
}
.team-list {
    display: flex;
    gap: 24px;
}
.team-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 8px;
    
}
.team-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}

.team-wrapper{
    padding: 32px 16px;
}

.team-card{
    background-color: #ffffff;  
    display: block;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    width: calc((100% - 72px) / 4);
    
}
/* Portfolio Section Styles */
.portfolio {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    margin-bottom: 72px;
    
}
.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    padding: 0;
    margin: 0;
    
}
.portfolio-item {
    border-radius: 4px;
    width: calc((100% - 48px) / 3);
    background: #ffffff;
}
.portfolio-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
    
}
.portfolio-wrapper {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-radius: 4px;
    border-top: none;
}   
.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin: 0;
}

.portfolio-item:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
    cursor: pointer;} 


/* Footer Section Styles */
.footer {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: #2e2f42;
    padding: 100px 0;
}


.footer .container{
    display: flex;
    flex-direction: column;
    align-items: baseline;

    
}
  
.logo-footer {
    display: inline-block;
    margin-bottom: 16px;

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 120px;
}

.logo-studio {
    color: #f4f4fd;
}

.footer-text {
    max-width: 264px;
}
